body {
    margin: 0;
    min-height: 100vh;
    display: flex;           
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#cubeContainer,
#unfoldContainer {
    border: 3px solid rgb(0, 47, 255);
    border-radius: 15px;
    overflow: hidden;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;
    border: 2px solid rgb(19, 11, 13);
    border-radius: 8px;
    background-color: white;
    color: rgb(201, 21, 198);
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(201, 21, 198);
    color: white;
}

canvas {
    display: block;
}