body {
    margin: 0;
    height: 100vh;
    display: flex;           
    justify-content: center;
    align-items: center;
}

#sketch {
    display: block;
    border: 3px solid rgb(0, 47, 255);
    border-radius: 15px;  
}